body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f3057; 
}



.custom-title {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
}

.btn-custom {
    background-color: #ff6600;
    border-color: #ff6600;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
}


